<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to Home Page</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/styles.css}" crossorigin="anonymous">
    <!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
    <!--	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">-->
</head>
<body th:style="'background: url(/images/background1.svg) center center no-repeat fixed;'">
<!--	<div class="container text-center">-->
<!--		<h1>Welcome to Home Page</h1>-->
<!--&lt;!&ndash;		<h3><a th:href="@{/users}">List of Users</a></h3>&ndash;&gt;-->
<!--		<h3><a th:href="@{/register}">Register</a></h3>-->
<!--		<h3><a th:href="@{/login}">Login</a></h3>-->
<!--	</div>-->

<header>
    <nav>
        <!--			<a href="#"><img class="logo" src="./images/logo.svg" alt="Travely Logo | Homepage" /></a>-->
        <div class="links">
            <a th:href="@{/register}">Register</a>
            <a th:href="@{/login}">Login</a>
        </div>
    </nav>
</header>

<main>
    <section class="info">
        <h1 class="hero__font">Welcome to the Credit Suisse Mentor Mentee App</h1>
    </section>

</main>


</body>
</html>