<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link th:rel="stylesheet" th:href="@{/styles/bootstrap-select.css}"/>
    <script type="text/javascript" src="/webjars/popper.js/umd/popper.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script th:src="@{/js/bootstrap-select.js}"></script>
    <link rel="stylesheet" th:href="@{/styles/styles.css}" crossorigin="anonymous">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
</head>
<body th:style="'background: url(/images/background1.svg) center center no-repeat fixed;'">
<header>
    <nav>
        <!--			<a href="#"><img class="logo" src="./images/logo.svg" alt="Travely Logo | Homepage" /></a>-->
        <div class="links">
            <form th:action="@{/logout}" method="post" onsubmit="logout()">

                <input type="submit" value="Logout" class="button__med" />
            </form>

        </div>
    </nav>
</header>

<div class="register">
    <!--			<div class="container text-center">-->
    <div>
        <h1 class="hero__font";>User Registration</h1>
    </div>
    <br/>
    <form th:action="@{/process_register}" th:object="${user}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label" style="color:#fff">First Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{firstName}" class="form-control"
                           required minlength="2" maxlength="20"/>
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <label class="col-4 col-form-label" style="color:#fff">Last Name: </label>
                <div class="col-8">
                    <input type="text" th:field="*{lastName}" class="form-control"
                           required minlength="2" maxlength="20" />
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <label class="col-4 col-form-label" style="color:#fff">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required />
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <label class="col-4 col-form-label" style="color:#fff">Username: </label>
                <div class="col-8">
                    <input type="text" th:field="*{username}" class="form-control" required minlength="2" maxlength="45"/>
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <label class="col-4 col-form-label" style="color:#fff">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                           required minlength="6" maxlength="10"/>
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <label class="col-4 col-form-label" style="color:#fff">Roles: </label>
                <div class="col-8" style="color:#fff">
                    <th:block th:each="role: ${listRoles}">
                        <input type="radio" th:field="*{roles}"
                               th:text="${role.name}" th:value="${role.id}" class="m-2" />
                    </th:block>
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <label class="col-4 col-form-label" style="color:#fff">Organisation: </label>
                <div class="col-8">
                    <input type="text" th:field="*{organisation}" class="form-control" required minlength="2" maxlength="45"/>
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <label class="col-4 col-form-label" style="color:#fff">Industry: </label>

<!--                <label class="col-4 col-form-label" style="color:#fff">Industry: </label>-->
                <!--					<div class="col-8">-->
                <!--						<input type="text" th:field="*{industry}" class="form-control" required minlength="2" maxlength="45"/>-->
                <!--					</div>-->
                <div class="col-8">
<!--                <div class="col-8">-->
                    <select class="form-control selectpicker" th:field="*{industry}" id="industry" multiple>
                        <option value="Data">Data</option>
                        <option value="Software">Software</option>
                        <option value="Education">Education</option>
                        <option value="Business">Business</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Design">Design</option>
                        <option value="Animation">Animation</option>

                    </select>
                    <br style="clear: both;" />
<!--                    <input type="submit" value="Apply" th:field="*{industry}" class="apply"/>-->
<!--                </div>-->

                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label" style="color:#fff">Interest: </label>
                <!--					<div class="col-8">-->
                <!--						<input type="text" th:field="*{industry}" class="form-control" required minlength="2" maxlength="45"/>-->
                <!--					</div>-->
                <div class="col-8">
                    <select class="form-control selectpicker" th:field="*{interest}" id="interest" multiple>
                        <option value="Analytics">Analytics</option>
                        <option value="Frontend">Frontend</option>
                        <option value="Backend">Backend</option>
                        <option value="Teaching">Teaching</option>
                        <option value="Drawing">Drawing</option>
                        <option value="Creating">Creating</option>
                        <option value="Projects">Projects</option>

                    </select>

<!--                    <br style="clear: both;" />-->
<!--                    <input type="submit" value="Apply" th:field="*{interest}" class="apply"/>-->
                </div>
            </div>

            <br/>
            <div class="form-group row">
                <label class="col-4 col-form-label" style="color:#fff">Number of Years of Experience: </label>
                <div class="col-8">
                    <input type="number" th:field="*{noOfYearsExp}" class="form-control" required/>
                </div>
            </div>
            <br/>
            <div>
                <button type="submit" class="button__med">Sign Up</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>